.heading{
    color: rgb(43,188,138);
    font-family: 'Oxygen Mono', monospace;
    font-size: 21px;
    font-weight: 700;
    padding-left: 88px;
    padding-top: 54px;
    
}

.bodypart{
    color: rgb(201,202,204);
    font-family: 'Oxygen Mono', monospace;
    font-size: 14px;
    font-weight: 400;
    padding-top: 25px;
    padding-left: 88px;
    padding-right: 89px;
}