.bodypart_books{
    color: rgb(201,202,204);
    font-family: 'Oxygen Mono', monospace;
    font-size: 14px;
    font-weight: 400;
    padding-top: 25px;
    padding-left: 88px;
    padding-right: 89px;
    padding-bottom: 32px;
    
}

